<% if(ourTest) { %>
    <div class="bodyContent" style="padding-top: 0;">
<% } else { %> 
    <div class="bodyContent">
<% } %> 

    <div class="carouselContainer">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-touch="false"
            data-bs-interval="false">

            <div class="carousel-inner" id="carouselItem">

                <div class="cardBox">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="numbers" id="numPos">
                                Resultados MinTic test
                            </div>
                        </div>

                        <div class="cardContent">
                            <form id="principalProcess" action="">
                                <div class="carousel-inner" id="carouselItem">     
                                    <div id="chart_div_total" ></div>
                                    <div id="chart_div_prom"></div>
                                    
                                </div>
                            </form>                              
                            
                        </div>
                    </div>
                    
                </div>                

            </div>

        </div>
    </div>
</div>