<div class="bodyContent"></div>

    <div class="carouselContainer">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-touch="false"
            data-bs-interval="false">

            <div class="carousel-inner" id="carouselItem">

                <div class="cardBox">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="numbers" id="numPos">
                                Resultados MMDtest
                            </div>
                        </div>

                        <div class="cardContent">
                            <form id="principalProcess" action="">
                                <div class="carousel-inner" id="carouselItem">   
                                    <div id="chart_div_ourTest"></div>
                                    
                                </div>
                            </form>                              
                            
                        </div>
                    </div>
                    
                </div>                

            </div>

        </div>
    </div>
</div>