<!DOCTYPE html>
<html lang="en">
    <%- include('../../../layouts/head') %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/js/minticResult.js"></script>
    <script src="/js/ourTestResult.js"></script>
</head>
<body>
    <%- include('../../.././layouts/navBar') %>

    <% if(ourTest) { %>
        <%- include('./ourTestResult') %>
    <% } %>  

    <% if(minTicTest) { %> 
        <%- include('./minTicResult') %>
    <% } %>     
    
</body>
</html>