<div class="bodyContent">
    <div class="carouselContainer">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-touch="false"
            data-bs-interval="false">

            <div class="carousel-inner" id="carouselItem">

                <div class="cardBox">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="numbers" id="numPos">
                                Selección procesos
                            </div>
                            <div class="cardName">
                                Seleccione los principales procesos en su empresa
                            </div>
                        </div>

                        <div class="cardContent">
                            <form id="principalProcess" action="">
        
                            </form>
        
                            <button type="submit" form="firstForm" class="btn btn-primary allwidth">
                                Dierick
                            </button>
                        </div>
                    </div>
                </div>                

            </div>

        </div>
    </div>
</div>