<div class="cardContent">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Preguntas</th>
                <th scope="col">1</th>
                <th scope="col">2</th>
                <th scope="col">3</th>
                <th scope="col">4</th>
                <th scope="col">5</th>
            </tr>
        </thead>
        <tbody id="PersAndCultDimens" class="dimensionItems">
            
        </tbody>
    </table>
</div>