<div class="bodyContent">
    <div class="carouselContainer">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-touch="false"
            data-bs-interval="false">

            <div class="carousel-inner" id="carouselItem">

                <div class="cardBox">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="numbers" id="numPos">
                                Selección de procesos
                            </div>
                        </div>

                        <div class="cardContent">
                            <form id="principalProcess" action="">
                                <div class="carousel-inner" id="carouselItem">
                                    <%- include('./prevFormContent') %>                            
                                </div>
                            </form>                              
                            
                        </div>
                        
                        <button type="submit" form="principalProcess" class="btn btn-primary allwidth">
                            Enviar procesos
                        </button>
                    </div>
                    
                </div>                

            </div>

        </div>
    </div>
</div>

<script src="/js/prevTest.js"></script>