<!DOCTYPE html>
<html lang="en">

    <%- include('./layouts/head') %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/js/dashboardGeneral.js"></script>
    </head>

    <body>
        <%- include('./layouts/navBar') %>

        <div class="bodyContent">
            <%- include('./layouts/header') %>
            <%- include('./layouts/body') %>
        </div>
    </body>

</html>