<!DOCTYPE html>
<html lang="en">

<%- include('./layouts/head') %>

    <body>
        <%- include('./layouts/navBar') %>

        <div class="bodyContent">
            <%- include('./layouts/home') %>

            <%- include('./layouts/model/carousel') %>
        </div>

    </body>

</html>