.carouselContainer {
  margin: 20px auto;
  align-items: center;
  vertical-align: middle;
  width: auto;
  max-width: 90vw;
}
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  grid-gap: 20px;
}
.cardBox .card {
  height: 70.8vh;
  position: relative;
  background-color: #fefffa;
  padding: 2.7vh 2.5vw 2.7vh 2.5vh;
  display: flex;
}
.cardBox .card .numbers {
  position: relative;
  font-size: 2em;
  font-weight: 500;
}
.cardBox .card .cardName {
  color: #999;
}
.cardBox .card .iconBox {
  font-size: 2.5em;
  color: #03a9f4;
}
.card {
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}
.card .cardTitle {
  padding-left: 4vw;
}
.card .cardContent {
  overflow-y: auto;
  padding: 4vh 0 0 4vw;
  margin-bottom: 2vh;

}
.card.cardContain {
  width: 100%;
}
.carousel-control-prev-icon {
  background-color: #03a9f4;
}
.carousel-control-next-icon {
  background-color: #03a9f4;
}
.carousel-control-prev {
  width: auto;
  padding: 20px 0 20px 0;
}
.carousel-control-next {
  width: auto;
  padding: 20px 0 20px 0;
}
.allwidth {
  width: 100%;
}
.titleDimension {
  text-decoration: underline;
}

.nr-b {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.nr-t {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.np-b {
  padding-bottom: 0;
}
.np-t {
  padding-top: 0;
}
.nmg-b {
  margin-bottom: 0;
}
.nmg-t {
  margin-top: 0;
}
.chg-b {
  height: 11vh;
}
.cardBox .card.chg-b{
  height: 11vh;
}