.wd-min {
  width: min-content;
}
.offcanvas-top {
  height: 34vh;
}
.form-check-input {
  cursor: pointer;
}
.axesEvaluation {
  cursor: pointer;
}
.axesEvaluation:hover {
    cursor: help;
    position: relative
}
.axesEvaluation span {
    display: none
}
.axesEvaluation:hover span {
    border: #c0c0c0 1px dotted;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: url(../images/status-info.png) #f0f0f0 no-repeat 100% 5%;
    left: 0px;
    margin: 10px;
    width: 300px;
    position: absolute;
    top: 10px;
    text-decoration: none
}