* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue;
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.bodyContent {
  padding-top: 56px;
}
.home {
  background-color: rgb(230 238 245);
  width: 100%;
  height: 50vh;
  display: inline-flex;
  padding: 2vh 6vw 2vh 6vw;
}
.testButton {
  margin-top: 25%;
}
.imgHome {
  width: 60vw;
}
.content {
  margin-top: 61px;
  vertical-align: middle;
  margin-right: 1vw;
}
.ilustration {
  overflow: hidden;
  width: 55vw;
  margin: 0 0 0 1vw;
}
.offcanvas-top {
  position: fixed;
  width: 70vw;
  max-width: 700px;
  margin: auto;
  height: 30vh;
  border-radius: 9px;
}

@media (max-width: 1300px) {
  .content {
    margin-top: 40px;
  }
  .home {
    height: 40vh;
  }
  .imgHome {
    width: 80vh;
    margin: 0 5vw 0 0;
  }
}
@media (max-width: 1150px) {
  .imgHome {
    display: none;
  }
}
