<div class="stadistic" id="stadisticBody">
    <h2>Resultado por sector MMDtest</h2>
    <div id="ourTestStadistic"></div>
    <h2>Resultado por sector Mintic</h2>
    <div id="minTicStadistic"></div>
</div>
