<div class="carouselContainer">

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-touch="false" data-bs-interval="false">
        <div class="carousel-indicators">
            <button title="Personal y Cultural" type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"
                class="active" aria-current="true" aria-label="Slide 1"></button>
            <button title="Estrategias" type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button title="Organización y Estructura" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button title="Procesos" type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="cardBox">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="numbers" id="numPos">Personal y Cultura</div>
                            <div class="cardName">Positives</div>
                        </div>
                        <%- include('./forms/persCult') %>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="cardBox">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="numbers" id="numPos">Estrategias</div>
                            <div class="cardName">Positives</div>
                        </div>
                        <%- include('./forms/estrategias') %>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="cardBox">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="numbers" id="numPos">Organización y Estructura</div>
                            <div class="cardName">Positives</div>
                        </div>
                        <%- include('./forms/orgEstr') %>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="cardBox">
                    <div class="card">
                        <div class="cardTitle">
                            <div class="numbers" id="numPos">Procesos</div>
                            <div class="cardName">Positives</div>
                        </div>
                        <%- include('./forms/procesos') %>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>