<div class="home">
    <div class="content">
        <span class="subheading">Digital transformation</span>
        <h1 class="heading">Digital Maturity Model.</h1>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button onClick="startTest()" class="btn btn-primary testButton" type="button">Start Test</button>
        </div>
    </div>
    <figure class="ilustration">
        <img class="imgHome" src="/images/2.jpg" alt="imagen">
    </figure> 
</div>

<script>
    const startTest = () => {
        window.location.href='/StartTest';   
    };
</script>