<div class="carousel-item active">
    <div class="cardBox">
        <div class="card">
            <div class="cardTitle">
                <div class="numbers" id="numPos">Personal y Cultura</div>
                <div class="cardName">Positives</div>
            </div>
            <%- include('./forms/persCult') %>
        </div>
    </div>
</div>

<div class="carousel-item">
    <div class="cardBox">
        <div class="card">
            <div class="cardTitle">
                <div class="numbers" id="numPos">Estrategias</div>
                <div class="cardName">Positives</div>
            </div>
            <%- include('./forms/estrategias') %>
        </div>
    </div>
</div>

<div class="carousel-item">
    <div class="cardBox">
        <div class="card">
            <div class="cardTitle">
                <div class="numbers" id="numPos">Organización y Estructura</div>
                <div class="cardName">Positives</div>
            </div>
            <%- include('./forms/orgEstr') %>
        </div>
    </div>
</div>

<div class="carousel-item">
    <div class="cardBox">
        <div class="card">
            <div class="cardTitle">
                <div class="numbers" id="numPos">Procesos</div>
                <div class="cardName">Positives</div>
            </div>
            <%- include('./forms/procesos') %>
        </div>
    </div>
</div>